<h1>Edit checklist</h1>

<form id="edit-checklist" name="checklist" enctype="multipart/form-data" action="/checklists?<%= id %>" accept-charset="UTF-8" method="post">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="comments"> comments:</label>
    <input type="text" name="comments" id="comments" value="<%= comments %>" >
  </div>
<div class="field">
     <input type="file" id="photo" name="photo">
  </div>

  <div class="actions">
    <input type="submit" value="Update Checklist" />
  </div>

</form>

<a href="#/index">Back</a>
