<h1>Listing checklists</h1>

<table id="checklists-table">
  <tr>
    <th>Title</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Checklist</a>